<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav th:replace="base :: nav"></nav>

    <div class="container">
        <h2>Lista de autores</h2>
        <br/>
        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>País</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="autor: ${autores}">
                    <td th:text="${autor.idAutor}"></td>
                    <td th:text="${autor.nombre}"></td>
                    <td th:text="${autor.pais}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

